/*****************************************************************************************
	Map dimensions and imagery
*****************************************************************************************/

#screen{
	width:900px;
	height:600px;
	overflow:hidden;
	border:3px solid #000;
	position:absolute;
	top:100px;
}

#background, #background img{
	height:100%;
	width:auto;
	position:absolute;
}

.currentBG{
	display:none;
}

.front{
	z-index: 4;
}

.constant_front{
	z-index: 6;
}

.back{
	z-index: 0
}

.parallax{
	z-index:-1;
}

/*****************************************************************************************
	Objects (Player, platforms, enemies, goals, etc.)
*****************************************************************************************/


/*Player*/ 

#player{
	position:absolute;
	width:60px;
	height:60px;
	z-index:1;
	display:none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.walk{
	-webkit-animation: walk steps(16) 2s infinite; 
}

.spriteRight{
	background:url('imgs/sprites1.png');
}

.spriteLeft{
	background:url('imgs/sprites2.png');
}

@-webkit-keyframes walk {
    from { background-position:0px -0px; }
    to { background-position:-1008px -0px; }
}

/* Other */

.enemy, .enemy1{
	background: red;
	position:absolute;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.enemy1{
	background:purple;
}

.platform{
	position:absolute;
	border:2px solid #000;
}

.ground{
	position:absolute;
	border:2px solid #000;
}

.goal{
	position: absolute;
	width:30px;
	height:30px;
	background: gold;
	border:1px red dashed;
	border-radius:50%;
}

/*****************************************************************************************
	Player info (Instructions, lives)
*****************************************************************************************/

#instructions{
	z-index:7;
	position: absolute;
	top:50px;
	left:50px;
	width:500px;
	display:none;
}

h1{
	margin:0px;
}

.key{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background:#ccc;
	border: 2px solid #000;
	border-bottom: 4px solid #000;
	border-top:1px solid #000;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

#goalText{
	height:30px;
	width:30px;
}

#lives{
	z-index:7;
	position: absolute;
	top:50px;
	left:700px;
	width:200px;
	height:100px;
}

.life{
	margin-right:10px;
	width:40px;
	height:40px;
	float:right;
	background: #000;
}

#lifePieces{
	z-index:7;
	position: absolute;
	top:110px;
	left:700px;
	width:200px;
	height:100px;
}

.lifePieceSymbol{
	margin-right:5px;
	width:20px;
	height:20px;
	float:right;
	background: blue;
}

.lifePiece{
	position: absolute;
	background:blue;
}

