/*****************************************************************************************
	Map dimensions and imagery
*****************************************************************************************/

#screen{
	width:900px;
	height:600px;
	overflow:hidden;
	border:3px solid #000;
	position:absolute;
}

#background, #background img:not(#rocket){
	height:100%;
	width:auto;
	position:absolute;
}

.currentBG{
	display:none;
}

.front{
	z-index: 4;
}

.constant_front{
	z-index: 7;
}

.back{
	z-index: 0;
}

.parallax{
	z-index:-2;
}

/*****************************************************************************************
	Objects (Player, platforms, enemies, goals, etc.)
*****************************************************************************************/


/*Player*/ 

#player{
	position:absolute;
	width:55px;
	height:60px;
	z-index:1;
	display:none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
	background:url('imgs/sprites2.png');
	background-position:-15px -0px;
}

.spriteLeft{
	-webkit-animation: spriteLeft steps(16) 2s infinite; 
	-moz-animation: spriteLeft steps(16) 2s infinite; 
}

.spriteRight{
	-webkit-animation: spriteRight steps(16) 2s infinite; 
	-moz-animation: spriteRight steps(16) 2s infinite; 
}

.jumpRight{
	-webkit-animation: jumpRight steps(16) 2s infinite; 
	-moz-animation: jumpRight steps(16) 2s infinite; 
}

.jumpLeft{
	-webkit-animation: jumpLeft steps(16) 2s infinite; 
	-moz-animation: jumpLeft steps(16) 2s infinite; 
}

.stillRight{
	-webkit-animation: stillRight steps(16) 2s infinite; 
	-moz-animation: stillRight steps(16) 2s infinite; 
}


@-webkit-keyframes spriteLeft {
    from { background-position:-15px -0px; }
    to { background-position:-1008px -0px; }
}

@-moz-keyframes spriteLeft {
    from { background-position:-15px -0px; }
    to { background-position:-1008px -0px; }
}

@-webkit-keyframes spriteRight {
    from { background-position:-15px -65px; }
    to { background-position:-1008px -65px; }
}

@-moz-keyframes spriteRight {
    from { background-position:-15px -65px; }
    to { background-position:-1008px -65px; }
}

@-webkit-keyframes jumpRight {
    from { background-position:-15px -190px; }
    to { background-position:-1008px -190px; }
}

@-moz-keyframes jumpRight {
    from { background-position:-15px -190px; }
    to { background-position:-1008px -190px; }
}

@-webkit-keyframes jumpLeft {
    from { background-position:-15px -125px; }
    to { background-position:-1008px -125px; }
}

@-moz-keyframes jumpLeft {
    from { background-position:-15px -125px; }
    to { background-position:-1008px -125px; }
}

@-webkit-keyframes stillRight {
    from { background-position:-15px -65px; }
    to { background-position:-15px -65px; }
}

@-moz-keyframes stillRight {
    from { background-position:-15px -65px; }
    to { background-position:-15px -65px; }
}

/* Other */

.enemy, .enemy1, .spike, .button{
	background:url('imgs/sprites2.png');
	position:absolute;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.enemyRight{
	-webkit-animation: enemyRight steps(10) 1.5s infinite; 
	-moz-animation: enemyRight steps(10) 1.5s infinite; 
}

@-moz-keyframes enemyRight {
    from { background-position:-0px 120px; }
    to { background-position:-990px 120px; }
}

@-webkit-keyframes enemyRight {
    from { background-position:-0px 120px; }
    to { background-position:-998px 120px; }
}

.enemyLeft{
	-webkit-animation: enemyLeft steps(10) 1.5s infinite; 
	-moz-animation: enemyLeft steps(10) 1.5s infinite; 
}

@-moz-keyframes enemyLeft {
    from { background-position:-15px 190px; }
    to { background-position:-1005px 190px; }
}

@-webkit-keyframes enemyLeft {
    from { background-position:-15px 190px; }
    to { background-position:-1005px 190px; }
}

.button{
	background: url('imgs/button.png');
	z-index:-1;

}

.enemy1{
	background:purple;
}

.spike{
	background:url('imgs/spike.png');
	position:absolute;
	z-index:-1;
}

.spike1{
	background:url('imgs/spike.png');
	position:absolute;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.platform, .pitcher{
	position:absolute;
	background:  #000;
	z-index:2;
}

.platform1{
	position:absolute;
	border:2px solid #000;
}

.goal{
	position: absolute;
	width:30px;
	height:30px;
	background: gold;
	border:1px red dashed;
	border-radius:50%;
}

#rocket{
	position:absolute;
	z-index:6;
	width:127px;
	height:158px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
	display:none;
	left:-100px;
	top:100px;
}

/*****************************************************************************************
	Player info (Instructions, lives)
*****************************************************************************************/

#instructions{
	z-index:7;
	position: absolute;
	top:630px;
	left:50px;
	width:500px;
	display:none;
}

h1{
	margin:0px;
}

.cursor{
	cursor:pointer;
	color:red;
}

.key{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background:#ccc;
	border: 2px solid #000;
	border-bottom: 4px solid #000;
	border-top:1px solid #000;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

#goalText{
	height:30px;
	width:30px;
}

span.enemy{
	width:89px;
	height:60px;
}

#lives{
	z-index:7;
	position: absolute;
	top:630px;
	left:700px;
	width:200px;
	height:100px;
}

.life{
	margin-right:10px;
	width:40px;
	height:46px;
	float:right;
	background: url('imgs/life.png');
}

#lifePieces{
	z-index:7;
	position: absolute;
	top:690px;
	left:700px;
	width:200px;
	height:100px;
}

.lifePieceSymbol{
	margin-right:5px;
	width:30px;
	height:30px;
	float:right;
	background:url('imgs/lifePiece.png');
}

.lifePiece{
	position: absolute;
	background:url('imgs/lifePiece.png');
}

